@use "../abstracts";

%flexItemSpaceBetween {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.new {
    padding-bottom: 128px;
}

.new-content {
    @extend %flexItemSpaceBetween;

    &__title {
        width: 25%;
    }
}

.new-container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px;
        border: 1px solid var(--border-color);
        cursor: pointer;
        transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);

        &:hover {
            background: var(--hover-color);
        }
    }

    &__date,
    &__link {
        line-height: 1.4;
        letter-spacing: 2px;
    }

    &__title {
        margin-top: 16px;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.05;
    }

    &__link {
        display: block;
        margin-top: 154px;
        text-transform: uppercase;
    }

    &__img {
        width: 184px;
    }
}
