<div class="header-container">
    <div class="logo">
        <img src="./assets/img/logo.png" alt="" class="logo__img" />
        <h1 class="logo__text">Daddy World</h1>
    </div>
    <!-- Navigator -->
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Products</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Contact</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Know-How</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">About</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Shop</a>
            </li>
        </ul>
        <button class="navbar__btn">
            <img src="./assets/icon/menu.svg" alt="" />
        </button>
    </nav>
</div>
